* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-color: rgb(255, 255, 147);
}

.hero-right{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}