@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
*
{
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-header{
    background-image: url("/img/restaurant_photo_1608814127.566725.jpg");
    height: 30rem;
}

